  body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
  }

.header {
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0;
    align-items: center;
}

ul {
    display: flex;
    gap: 16px;
    padding-right: 24px;
    list-style: none;
}

.header, .hero, .footer {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
  font-weight: 800;
  padding-left: 150px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.upperbutton {
  background-color: #3882F6;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  padding: 6px 12px;
  margin-top: 30px;
  border-style: solid;
}

.herodesc {
  color: #e5e7eb;
  max-width: 350px;
}

.herotitle {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0 0 10px 0;
  max-width: 350px;
}

.herotitle .herodesc {
  text-align: start;
  padding-right: 150px;
}

.hero p {
  margin: 0;
}

.hero {
padding: 100px 150px;
display: flex;
flex-direction: row;
justify-content: center;
gap: 150px;
}

.img-placeholder {
  flex: 0 0 160px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #6d747d;
  padding: 70px 150px;
  white-space: nowrap;
}

.info {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.infotext {
  display: flex;
  max-width: 150px;
}

.infoblock {
  max-width: 150px;
  margin: 25px;
}

.info-pic {
  width: 150px;
  height: 150px;
  border: #3882F6 3px;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.infotitle {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.quotepart {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  justify-content: center;
  margin: 0 auto;
}

.attr {
  display: flex;
  justify-content: flex-end;
  margin-right: 500px;
  font-weight: 700;
  font-size: 20px;
}

.CTA-Section {
  background-color: #3882F6;
  max-width: 550px;
  display: flex;
  margin: 100px auto;
  padding: 35px 70px;
  justify-content: space-between;
  border-radius: 5px;

}

.CTA-Title, .CTA-Desc, .bottombutton {
  color: #f9faf8;
}

.bottombutton {
  background-color: #3882F6;
  border-color: #e5e7eb;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  padding: 5px 15px;
}

.CTA-Title {
  font-weight: 800;
  font-size: 20px;
}

.CTA-Desc {
  font-size: 13px;
}

.footer {
color: #a7aaad;
display: flex;
justify-content: center;
padding: 20px;
}